
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    border: 0px;

    font-family: "Roboto", sans-serif;

    user-select: none;

    scroll-behavior: smooth;
}

html{
    background-color: rgb(25, 25, 25);
}


nav{
    width: 100%;
    position: fixed;

    background-color: rgb(21, 21, 21);

    padding: 5px 45px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: solid 1px rgba(255, 255, 255, 0.50);

    z-index: 9999;
}

nav a{
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 15px;
}

nav a:hover{
    color: rgba(255, 255, 255, 1);
}

nav section:nth-child(1) i{
    font-size: 25px;
    background-color: transparent;
    color: white;
}

nav i{
    width: 30px;
    padding: 6px;

    text-align: center;

    box-sizing: border-box;

    border-radius: 50%;

    color: black;
    background-color: white;

    text-decoration: none;

    cursor: pointer;
}

nav section:nth-child(2){
    display: flex;
    gap: 30px;

    align-items: center;
}
