header{
    width: 100%;
    height: 75vh;

    background-color: rebeccapurple;
    background-image: linear-gradient(180deg, rgba(102, 51, 153, 0.7), rgba(0, 0, 0, .8)), url("img/bg/bg2.jpg");
    background-position: center;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    flex-direction: column;
}

header h1{
    color: white;
    text-transform: uppercase;

    font-size: 4vw;
    font-family: "Abhaya Libre",sans-serif;
}

header div{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, .5);
}

header div p{
    color: rgba(255, 255, 255, 0.75);
    font-size: var(--global-p-size);
    font-weight: 300;

    padding: 5px 0px;
}

header section{
    width: 100%;
    height: 0px;

    background-color: rebeccapurple;
}

.unu{
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns:repeat(3, auto);
    grid-template-rows:repeat(3, auto);
    gap: 10px;

    box-sizing: border-box;

    padding: 25px;
}

.unu div{
    width: 100%;
    height: 100%;

    background-image: linear-gradient(180deg, rgba(20, 20, 20, .25) 110px, rgba(20, 20, 20, 1)), url("img/s/s1.jpg");
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0px;
    border-radius: 5px;

    box-sizing: border-box;

    padding: 25px;
}

.unu div section{
    display: flex;
    gap: 10px;
}

.unu div section h1{
    font-size: 40px;
    font-size: 1.5vw;

    color: white;
    text-transform: capitalize;
}

.unu div section i{
    font-size: 25px;
    font-size: 1.5vw;

    color: white;
    text-transform: capitalize;
}

.unu div p{
    font-weight: 400;
    font-size: var(--global-p-size);

    color: rgba(255, 255, 255, 0.75);
}

.doi{
    width: 100%;
    height: min-content;

    background-color: rgb(15, 15, 15);

    padding: 25px;
    padding-bottom: 35px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    border-top: 5px solid var(--secondary-color);
    border-bottom: 5px solid var(--secondary-color);
}

.doi h1{
    color: white;
    font-size: 55px;
    font-family: 900;
    line-height: 60px;
}

.doi p{
    color: rgba(255, 255, 255, 0.75);
    font-size: var(--global-p-size);
    font-weight: 300;

    padding-bottom: 25px;
    padding-left: 25px;
}

.doi ul{
    color: rgba(255, 255, 255, 0.75);
    font-size: 20px;
    font-weight: 300;

    padding-left: 45px;
}

.doi ul b{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 700;
}

.doi ul li{
    padding-bottom: 5px;
    font-weight: 300;
}

.trei{
    width: 100%;
    height: 50vh;
}

.trei iframe{
    width: 100%;
    height: 100%;
}

.patru{
    width: 100%;
    height: min-content;

    padding: 50px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-top: 5px solid var(--secondary-color);
}

.patru h1{
    color: white;
    font-size: 45px;
}

.patru a{
    font-size: 20px;

    background-image: linear-gradient(45deg, var(--secondary-color), rgb(40, 20, 59));
    background-size: 100%;

    color: white;
    text-decoration: none;
    padding: 20px 60px;
    border-radius: 5px;

    text-transform: uppercase;

    transition: .5s;

    font-weight: 400;
}

.patru a:hover {
    background-size: 200%;
}

@media only screen and (max-width: 768px){

    header{
        height: 40vh;
        background-size: 250%;
    }
    
    header h1{
        font-size: 15vw;
        text-align: center;
        line-height: 50px;
    }
    
    header div p{
        font-size: 20px;
    }

    .unu{
        width: 100%;
        height: 60vh;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow-x: scroll;
    
        scroll-snap-type: x mandatory;
    
        padding: 0px;
    }

    .unu div{
        width: 100%;
        height: 100%;

        border-radius: 0px;
        padding: 25px;

        scroll-snap-align: start;

        justify-content: flex-end;
    }

    .unu div section h1{
        font-size: 8vw;
    }

    .unu div section i{
        font-size: 8vw;
    }

    .unu div h2{
        font-size: 4vw;
    }

    .doi{
        padding: 25px;
    }

    .doi h1{
        color: white;
        font-size: 25px;
        line-height: 30px;
    }
    
    .doi p{
        color: rgba(255, 255, 255, 0.75);
        font-size: 20px;
        font-weight: 300;
    
        padding-bottom: 25px;
        padding-left: 0px;
    }

    .doi ul{
        font-size: 20px;
        padding-left: 25px;
    }
    
    .doi ul b{
        font-size: 20px;
        font-weight: 900;
    }

    .patru{
        padding: 25px 0px;
    }
    
    .patru h1{
        font-size: 32px;
    }
    
    .patru a{
        font-size: 15px;
        padding: 15px 40px;
    }
    
}