*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.p-nav-btn{
    position: fixed;
    background-color: rgba(35, 35, 35, 1);

    padding: 20px;
    border-radius: 5px;

    left: 5px;

    bottom: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    z-index: 100000;

    cursor: pointer;
}

.p-nav-btn i {
    color: white;
    font-size: 25px;
}

.p-nav{
    position: fixed;

    height: 100%;
    width: 75vw;
    background-color: rgb(35,35,35);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.p-nav ul{
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 10px;

    padding-top: 30px;

    padding-left: 25px;
}

.p-nav ul li{

}

.p-nav ul li a{
    color: white;
    text-decoration: none;

    display: flex;
    gap: 5px;
    
    font-size: 30px;

    align-items: center;
}

.p-nav ul li a i{
    font-size: 20px;
}

.p-nav ul li a p {
    text-transform: capitalize;
}

.p-nav ul:nth-child(2){
    display: flex ;
    flex-direction: row;
    gap: 15px;

    padding-top: 0px;

}

.p-nav ul:nth-child(2) li i{
    color: rgba(0, 0, 0, 1);
    background-color: white;

    font-size: 25px;

    padding: 15px;
    border-radius: 50%;

    width: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}


.nav-phone-deactive{
    display: none;
}

nav{
    position: fixed;

    width: 100%;
    height: 180px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 0, 0, 0);

    z-index: 10000;

    transition: .5s;
}

.stickyNav{
    background-color: rgb(25,25,25);

    border-bottom: 1px solid var(--secondary-color);
    height: 60px;
}

nav section{
    width: 98%;
    height: 100%;

    background-color: rgba(0, 128, 0, 0);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav section div{
    
    height: 100%;
    width: 500px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav section ul{
    list-style: none;
    display: flex;
    align-items: center;
}

nav section ul li{

    padding-left: 25px;

}

nav section ul li:nth-child(7){
    padding: 10px;
}

nav section ul li a{
    text-decoration: none;

    display: flex;
    align-items: center;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0);

    transition: 1s;
}

nav section ul li a p{
    color: rgba(255, 255, 255, 1);

    font-size: 20px;
    text-transform: capitalize;

    font-weight: 900;
}

nav section ul li a i{
    color: rgba(255, 255, 255, 1);
    padding-left: 5px;
}

#social{
    color: rgba(0, 0, 0, 1);
    background-color: white;

    font-size: 15px;

    padding: 10px;
    border-radius: 50%;

    width: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.unu{
    width: 100%;
    height: 75vh;

    background-image: linear-gradient(rgba(207, 216, 157, 0.432) 50%, var(--secondary-color)), url("img/bg/bg2.jpg");
    background-size: 120%;

    background-position-y: center;
    background-position-x: center;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    transition: .5s;
}

.stickyUnu{
    background-size: 100%;
}

.unu h1{
    color: white;
    text-transform: uppercase;

    font-size: 85px;

    text-shadow: 2px 2px 2px black;

    padding-bottom: 25px;
}

.doi{
    width: 100%;
    height: min-content;

    background-color: var(--secondary-color)
}

.doi h1{
    color: white;
    text-transform: capitalize;
    text-align: center;

    font-size: 35px;

    background-color: rgba(25, 25, 25, 0.377);
    padding: 5px 0px;
}

.trei{
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(35,35,35);

    border-bottom: 1px solid var(--secondary-color);
}

.trei ul{
    width: 98%;
    height: 96%;

    display: grid;
    grid-template-columns: repeat(3, 33.4%);
    grid-template-rows: 33.4%;

    gap: 10px;

    list-style: none;

    overflow-x: hidden;
}

.trei ul li{
    background-size: cover;

    background-position: center;

    background-image: url("img/s/s1.jpg");
}

.trei ul li:nth-child(1){
    
}

.trei ul li:nth-child(2){
    background-image: url(https://www.eproprietar.ro/storage/2212/spatiu-comercial-birouri-la-artera-principala-1.jpg);
}

.trei ul li:nth-child(3){
    background-image: url(https://frankfurt.apollo.olxcdn.com/v1/files/facjwp1guak22-RO/image;s=1894x1536);
}

.trei ul li:nth-child(4){
    background-image: url(https://www.inchirieri.ro/images/anunturi/n-Tomis-Nord-spatiu-comercial-400mp-inchirieri-Constanta-18744.jpg);
}

.trei ul li:nth-child(5){
    background-image: url(https://imobiliare.topestate.ro/images/oferte/constanta/spatii-comerciale/231184/thumb/medium_inchiriere-spatiu-comercial-160-mp-2-camere-constanta-trocadero-accessrealestate-231184-0-50.jpg);
}

.trei ul li:nth-child(6){
    background-image: url(https://meridiusintermed.ro/oferte/302/xlp__spatiu-comercial-1-camera-de-inchiriat-trocadero-constanta_620a134979dc58.jpg);
}

.trei ul li:nth-child(7){
    background-image: url(https://media2.homezz.ro/media/j/api_list/5/343/3433225_centru-spatiu-comercial-293mp-cu-vitrina-stradala-pe-colt_2.jpg);
}

.trei ul li:nth-child(8){
    background-image: url(https://frankfurt.apollo.olxcdn.com/v1/files/lsvwx0ptz91c-RO/image;s=750x421);
}

.trei ul li:nth-child(9){
    background-image: url(https://imobiliare.topestate.ro/images/oferte/constanta/spatii-comerciale/204676/thumb/medium_spatiu-comercial-vanzare-480-mp-constanta-centru-popamarcela-204676-0-110.jpg);
}


.patru{
    width: 100%;
    height: min-content;

    display: flex;
    justify-content: center;

    border-bottom: 1px solid var(--secondary-color);
}

.patru ul{
    height: 100%;
    width: 85%;

    padding: 100px 0px;
    padding-top: 50px;

    display: flex;
    flex-direction: column;
    gap: 50px;
}

.patru ul li{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.patru h1{
    color: white;
    font-size: 75px;
    font-weight: 800;

    line-height: 90%;
}

.patru p{
    color: rgba(255, 255, 255, 0.75);

    font-size: 25px;
    font-weight: 500;

    line-height: 95%;
}

.cinci{
    width: 100%;
    height: min-content;
}

.cinci iframe{
    width: 100%;
    height: 500px;
}

.sase{
    width: 100%;
    height: 15vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(35,35,35);

    border-top: 1px solid var(--secondary-color);
}

.sase h1{
    color: white;
    text-transform: capitalize;

    font-size: 45px;
}

.sase a{
    color: white;
    text-transform: capitalize;
    text-decoration: none;

    font-size: 25px;

    background-color: var(--secondary-color);

    border-radius: 5px;
    padding: 10px 50px;
}

@media (min-width: 900px){
    .p-nav-btn{
        display: none;
    }
}

@media (max-width: 900px){

    nav{
        display: none;
    }

    .unu{
        height: 45vh;
        background-size: 400%;

        background-image: linear-gradient(rgba(207, 216, 157, 0.432) 30%, rgba(95, 184, 102, 1)), url("img/bg/bg2.jpg");
    }
    
    .unu h1{
        font-size: 16vw;
        line-height: 50px;

        text-align: center;

        text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);

        padding-bottom: 10px;
    }

    .doi h1{
        font-size: 5vw;
    }

    .trei{
        width: 100%;
        height: 75vh;
        
        display: flex;
        justify-content: center;
    
        background-color: rgb(35,35,35);
    
        border-bottom: 1px solid var(--secondary-color);
    }
    
    .trei ul{
        width: 100%;
        height: 100%;
    
        display: flex;
        list-style: none;

        align-items: center;
    
        overflow-x: scroll;
        overflow-y: hidden;
    
        scroll-snap-type: x mandatory;
    }
    
    .trei ul li{
        width: 100vw;
        height: 100vh;
        flex-shrink: 0;
    
        background-size: contain;
        scroll-snap-align: start;

        background-position: center;
        background-repeat: no-repeat;
    
        background-image: url("img/s/s1.jpg");
    }


    .patru{
        height: min-content;
        background-position-x: -1750px;
    }

    
    .patru ul{
        height: 100%;
        width: 90%;
        padding: 0px;
        padding-bottom: 25px;
    }

    .patru h1{
        color: white;
        font-size: 55px;
        font-weight: 800;
    
        padding-top: 20px;
    }

    .sase{
        width: 100%;
        height: 45vh;
    }
    
    .sase h1{
        font-size: 45px;
    }
    
    .sase a{
        font-size: 25px;
        padding: 10px 50px;
    }
}
