
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    border: 0px;

    font-family: "Roboto", sans-serif;
    font-family: "Abhaya Libre",sans-serif;

    user-select: none;
}


html{
    background-color: rgb(25, 25, 25);
}