body{
    width: 100%;
    height: 100vh;
}

.filtre{
    width: 100%;

    background-color: rgb(15, 15, 15);
    padding: 5px 10px;

    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    position: fixed;
    top: 50px;
}

.filtre p{
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 15px;
    font-weight: 300;

    text-align: center;
    text-transform: uppercase;

    padding: 5px 25px;
    border-radius: 5px;
    flex-grow: 1;

    cursor: pointer;
}

.filtre .selected{
    background-color: var(--secondary-color );
}

.lista-spatii{
    padding: 50px 10px;
    box-sizing: border-box;
}

.lista-spatii ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    list-style: none;
}

.spatiu-listItem{
    width: clamp(5000px, 50%, max-content);
    height: 50vh;
    flex-grow: 1;
    
    background-image: linear-gradient(180deg, rgba(20, 20, 20, .25) 110px, rgba(20, 20, 20, 1)), url("../img/s/s1.jpg");
    background-size: cover;
    background-position: center;

    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content:flex-end;

    padding: 0px;
    box-sizing: border-box;
}

.spatiu-listItem section{
    padding: 10px;
}

.spatiu-listItem div {
    display: flex;
    gap: 10px;
}

.spatiu-listItem div h1{
    color: white;
    text-transform: capitalize;

    font-size: 30px;
    padding-right: 10px;
}

.spatiu-listItem p{
    color: rgba(255, 255, 255, 0.75);
    font-weight: 300;
    font-size: var(--global-p-size);
}

.spatiu-listItem a{
    text-decoration: none;
    color: white;

    background-color: var(--secondary-color);

    text-align: center;
    text-transform: uppercase;

    padding: 10px 20px;

    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

@media only screen and (max-width: 768px){

    .filtre{
        padding: 10px 0px;
    }

    .filtre p{
        font-size: var(--global-p-size-phone);
    }

    .lista-spatii{
        padding: 0px 0px;
        box-sizing: border-box;
        
        padding-top: 180px;
    }

    .lista-spatii ul li{
        background-color: rgb(35, 35, 35);
        border-radius: 5px;
        width: 100%;
        height: 400px;
    }

    .lista-spatii ul li div h1{
        font-size: 30px;
        padding-right: 20px;
    }
    
    .lista-spatii ul li div i{
        font-size: 30px;
    }
    
    .lista-spatii ul li p{
        font-size: var(--global-p-size-phone);
    }
    
}