body{
    width: 100%;
    height: 100vh;
}

.filtre{
    width: 100%;

    background-color: rgb(15, 15, 15);
    padding: 5px 10px;

    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    position: fixed;
}

.filtre p{
    color: white;
    background-color: rgba(255, 255, 255, 0.1);

    text-align: center;
    text-transform: uppercase;

    padding: 5px 25px;
    border-radius: 5px;
    flex-grow: 1;

    cursor: pointer;
}

.filtre .selected{
    background-color: var(--secondary-color );
}

.lista-spatii{
    padding: 10px 200px;
    box-sizing: border-box;
    
}

.lista-spatii ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    justify-content: center;

    list-style: none;
}

.lista-spatii ul li{
    background-color: rgb(35, 35, 35);
    border-radius: 5px;
    width: 300px;
    height: 400px;
}

.lista-spatii ul li section:nth-child(1){
    width: 100%;
    height: 50%;

    background-image: url("../img/s/s1.jpg");
    background-size: cover;
    background-position: center;
}

.lista-spatii ul li section:nth-child(2){
    height: 50%;

    display: flex;
    flex-direction: column;
}

.lista-spatii ul li h1{
    color: white;
    text-transform: capitalize;

    justify-self: start;

    padding: 0px 10px;
    padding-top: 10px;
}

.lista-spatii ul li p{
    color: rgba(255, 255, 255, 0.75);
    font-weight: 300;

    padding: 0px 10px;
}

.lista-spatii ul li a{
    text-decoration: none;
    color: white;

    background-color: var(--secondary-color);

    margin-top: auto;
    justify-self: end;
    bottom: 0px;
    text-align: center;

    text-transform: uppercase;

    padding: 10px 20px;
    border-radius: 5px;
}

@media only screen and (max-width: 768px){

    .lista-spatii{
        padding: 10px 0px;
        box-sizing: border-box;
        
        padding-top: 100px;
    }

    .lista-spatii ul li{
        background-color: rgb(35, 35, 35);
        border-radius: 5px;
        width: 100%;
        height: 400px;
    }
}