
.unu{
    width: 100%;
    height: 75vh;

    background-image: linear-gradient(rgba(207, 216, 157, 0.432) 50%, var(--secondary-color)), url("/img/bg/bg2.jpg");
    background-size: 120%;

    background-position-y: center;
    background-position-x: center;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    transition: .5s;
}

.unu h1{
    color: white;
    text-transform: uppercase;

    font-size: 85px;

    text-shadow: 2px 2px 2px black;

    padding-bottom: 25px;
}

.spatii
{
    width: 100%;
    height: 100vh;

    padding-top: 50px;

    display: flex;
    justify-content: 
    center;
}

.spatii ul{
    width: 90%;
    height: max-content;

    display: flex;
    flex-direction: column;

    gap: 15px;

}   

.spatii ul li{
    display: flex;
    gap: 10px;
}

.spatii ul li div{
    background-image: url("../img/s/s1.jpg");
    background-size: cover;

    width: 300px;
    height: 200px;
}

.spatii ul li:nth-child(1) div{
    background-image: url(https://www.eproprietar.ro/storage/2212/spatiu-comercial-birouri-la-artera-principala-1.jpg);
}

.spatii ul li:nth-child(2) div{
    background-image: url(https://frankfurt.apollo.olxcdn.com/v1/files/facjwp1guak22-RO/image;s=1894x1536);
}

.spatii ul li:nth-child(3) div{
    background-image: url(https://www.inchirieri.ro/images/anunturi/n-Tomis-Nord-spatiu-comercial-400mp-inchirieri-Constanta-18744.jpg);
}

.spatii ul li:nth-child(4) div{
    background-image: url(https://imobiliare.topestate.ro/images/oferte/constanta/spatii-comerciale/231184/thumb/medium_inchiriere-spatiu-comercial-160-mp-2-camere-constanta-trocadero-accessrealestate-231184-0-50.jpg);
}

.spatii ul li:nth-child(5) div{
    background-image: url(https://meridiusintermed.ro/oferte/302/xlp__spatiu-comercial-1-camera-de-inchiriat-trocadero-constanta_620a134979dc58.jpg);
}



.spatii ul li h1{

    color: white;
    font-size: 50px;
}

.spatii ul li h2{

    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;

    font-weight: 200;

    line-height: 15px;
}


.spatii .location{
    text-decoration: none;
    color: var(--secondary-color);

    font-size: 35px;
}

.spatii ul li i{
    color: var(--secondary-color);
    font-size: 25px;
}

.spatii .detalii{
    text-decoration: none;
    color: white;

    margin-left: 25px;

    text-transform: capitalize;

    background-color: var(--secondary-color);

    border-radius: 5px;

    padding: 5px 30px;

    font-size: 25px;
}

@media (max-width: 900px){

    .unu{
        height: 45vh;
        background-size: 400%;
    }
    
    .unu h1{
        font-size: 16vw;
        line-height: 50px;

        text-align: center;

        text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);

        padding-bottom: 10px;
    }
}
