
.unu{
    width: 100%;
    height: 75vh;

    background-image: linear-gradient(rgba(207, 216, 157, 0.432) 50%, var(--secondary-color)), url("/img/bg/bg2.jpg");
    background-size: 120%;

    background-position-y: center;
    background-position-x: center;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    transition: .5s;
}

.unu h1{
    color: white;
    text-transform: uppercase;

    font-size: 85px;

    text-shadow: 2px 2px 2px black;

    padding-bottom: 25px;
}

@media (max-width: 900px){

    .unu{
        height: 45vh;
        background-size: 400%;
    }
    
    .unu h1{
        font-size: 16vw;
        line-height: 50px;

        text-align: center;

        text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);

        padding-bottom: 10px;
    }
}
